<!DOCTYPE>
<html ng-app="bondApp">
<head>
	<title>Bond Cars</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="controllers/bondController.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700" rel="stylesheet">
</head>
<body>
	<div class="container">

		<header class="navbar">
			<h1>BOND CARS</h1>
		</header>
		
		<section class="container-fluid" ng-controller="CarsController as cars">
		
		<form ng-submit="cars.addCar()" class="form-horizontal" class="col-md-6">
			<div>
				<label for="newCar-year">Year:</label>
				<input type="text" ng-model="cars.newCar.year" class="form-control">
			</div>
			<div>
				<label for="newCar-make">Make:</label>
				<input type="text" ng-model="cars.newCar.make" class="form-control">
			</div>
			<div>
				<label for="newCar-model">Model:</label>
				<input type="text" ng-model="cars.newCar.model" class="form-control">
			</div>
			<div>
				<label for="newCar-picture">Picture:</label>
				<input type="text" ng-model="cars.newCar.picture" class="form-control">
			</div>
			<input class="btn btn-primary" type="submit" value="Add Car">
		</form>
		<div class="row">
			<div class='col-sm-8 col-md-10' ng-repeat="car in cars.all" data-car-id="car._id">
				<bond-car data-car="car" id="{{car._id}}">
				</bond-car>
			</div>
		</div>

		</section>

	</div>
</body>
</html>