<!DOCTYPE>
<html ng-app="bondApp">
<head>
	<title>Bond Cars</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="controllers/bondController.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700" rel="stylesheet">
</head>
<body class="parallax">
	<div class="container">

		<header class="navbar">
			<h1>BOND CARS ™</h1>
		</header>
		
		<section class="container-fluid" ng-controller="CarsController as cars">

		<input class='new' type="checkbox" ng-model="checked" ng-click="cars.formDrop()">
			<label>Add a Car</label>
		</input>
	
		<input class="search" type="text" ng-model="search" placeholder="Search Here">

		<form ng-show="cars.newForm" ng-submit="cars.addCar()" class="form-horizontal col-xs-12 col-md-6 col-lg-4" name="newForm">
			<label for="newCar-year">Year:</label>
			<input type="number" id="new-car-year" ng-model="cars.newCar.year" placeholder="2017" class="form-control focus" ng-maxlength=15 ng-minlength=4 required>
			<label for="newCar-make">Make:</label>
			<input type="text" id="new-car-make" ng-model="cars.newCar.make" placeholder="Aston Martin" class="form-control focus" ng-maxlength=15 ng-minlength=3 required>
			<label for="newCar-model">Model:</label>
			<input type="text" id="new-car-model" ng-model="cars.newCar.model" placeholder="DB12" class="form-control focus" ng-maxlength=15 ng-minlength=2 required>
			<label for="newCar-picture">Picture:</label>
			<input type="text" ng-model="cars.newCar.picture" placeholder="google.com" class="form-control focus" required>
			<input class="btn btn-primary" type="submit" value="Add Car" ng-disabled="newForm.carYear.$invalid || newForm.carMake.$invalid || newForm.carModel.$invalid">
		</form>

		<div class="row">
			<div class='col-sm-8 col-md-12' data-car-id="car._id" ng-repeat="car in cars.all | filter:search">
				<bond-car data-car="car" id="{{car._id}}">
				</bond-car>
			</div>
		</div>

		</section>

	</div>
</body>
</html>