body {
	background: black;
}

.navbar {
	background: url('../images/barrel.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: 1px solid black;
	height: 150px;
	padding-top: 40px;
	width: 100%;
}

h1 {
	color: red;
	font-family: 'Orbitron', sans-serif;
	font-size: 4em;
	font-weight: 200;
}

.container-fluid img {
	float: left;
	height: 200px;
	margin-top: 10px;
	width: 200px;
}

.card {
  background: #231e1e;
  border-color: black;
  color: white;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 5px;
  max-width: 50rem;
  min-height: 16rem;
  min-width: 40rem;
  position: relative;
}

.card img {
	float: left;
	height: 200px;
	padding-right: 10px; 
}

.card h4 {
	padding: 20px 10px;
	font-family: 'Orbitron', sans-serif;
}

.btn-danger {
	float: right;
}

.info {
	float: left;
	display: block;
}

.btn-primary {
	clear: both;
}

label {
	color: white;
}

.btn {
	float: right;
	margin-top: 10px;
}

.row {
	clear: both;
	margin: 0;
}